

#mine-section {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    gap: 20px;
    justify-items: start;
}

/*placer a droite */
#game-part-mine {
    display: grid;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;  
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    grid-template-columns: repeat(5, 1fr);
    justify-self: end; /* Added property */
}

#mine-minimap {
    position: fixed;
    top: 13%;
    right: 10px;
    z-index: 1000;
    border: 5px solid #4a7c59;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#minimap-button {
    width: 150px;
    height: 150px;
    cursor: pointer;
}


#mine-grid {
    display: grid;
    grid-template-columns: repeat(10, 50px); /* 10 cellules par ligne */
    grid-template-rows: repeat(10, 50px); /* 10 lignes */
    gap: 5px;
    justify-content: center;
    margin-bottom: 20px;
}

#mine-grid .mine-cell {
    width: 50px;
    height: 50px;
    background-color: #4a7c59;
    border: 1px solid #ccc;
    cursor: pointer;
}

#mine-grid .mine-cell:hover {
    background-color: #3e6e4f;
}

#mine-grid .mine-cell.mined {
    background-color: #d9534f;
}


#mine-message-area {
    position: absolute;
    top: 10%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #f8f0e3;
    border: 1px solid #c0a080;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #000;

}


/* Styles pour les infos des minerais */
.OreInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: #f8f0e3;
    border: 1px solid #c0a080;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;

}

#Ore-Info-Section {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 éléments par ligne par défaut */
    gap: 10px;
    margin-top: 10px;
    align-items: start;
    position: relative;
    left: 100%;

}

.ItemOre {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: #f8f0e3;
    border: 1px solid #c0a080;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #000;
}

/* Responsive Design */
@media screen and (max-width: 1200px) {
    #Ore-Info-Section {
        grid-template-columns: repeat(3, 1fr); /* 3 éléments par ligne */
    }
}

@media screen and (max-width: 800px) {
    #Ore-Info-Section {
        grid-template-columns: repeat(2, 1fr); /* 2 éléments par ligne */
    }
}

@media screen and (max-width: 600px) {
    #Ore-Info-Section {
        grid-template-columns: repeat(1, 1fr); /* 1 élément par ligne */
    }
}

#CopperOre-Info {
    background-image: url('../assets/images/Ore/CopperOre.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#IronOre-Info {
    background-image: url('../assets/images/Ore/IronOre.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#SilverOre-Info {
    background-image: url('../assets/images/Ore/SilverOre.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#GoldOre-Info {
    background-image: url('../assets/images/Ore/GoldOre.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#DiamondOre-Info {
    background-image: url('../assets/images/Ore/DiamondOre.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#EmeraldOre-Info {
    background-image: url('../assets/images/Ore/EmeraldOre.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#MithrilOre-Info {
    background-image: url('../assets/images/Ore/MithrilOre.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#PureGoldOre-Info {
    background-image: url('../assets/images/Ore/PureGoldOre.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#PureDiamondOre-Info {
    background-image: url('../assets/images/Ore/PureDiamondOre.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#PureEmeraldOre-Info {
    background-image: url('../assets/images/Ore/PureEmeraldOre.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#PureMithrilOre-Info {
    background-image: url('../assets/images/Ore/PureMithrilOre.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#DivineOre-Info {
    background-image: url('../assets/images/Ore/DivineOre.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

