/* Styles de la section Bois */
#wood-section {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr)); /* Pour afficher autant d'éléments que possible par ligne */
    gap: 20px;
    justify-items: start;
}

/* Block de contenu de bois qui les affiche de gauche à droite */
/* box qui contient les bois */
#game-part-wood {
    display: grid;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;  
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    /* Utiliser grid pour afficher exactement 5 éléments par ligne */
    grid-template-columns: repeat(5, 1fr);
}


/*responsive design*/
@media screen and (max-width: 1000px){
    #game-part-wood {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 800px){
    #game-part-wood {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 675px) {
    #game-part-wood {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 400px) {
    #game-part-wood {
        grid-template-columns: repeat(1, 1fr);
    }
}

#woodcutting-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Wood-lvl {
    margin-top: 10px;
    text-align: center;
    font-size: 1.5em;
    color: #4a7c59;
    font-weight: bold;
}

.wood {
    background-color: #f8f0e3;
    border: 1px solid #c0a080;
    border-radius: 10px;
    padding: 10px;
    margin: 18px; /* Ajoutez des marges autour de chaque bloc */
    width: 150px;
    text-align: center;
    align-items: right;
    position: relative;
}

.wood h2 {
    margin: 0;
}

.wood img {
    display: block;
    width: 80%;
    height: auto;
    margin-top: 10px;
    border: 2px solid #c0a080;
    border-radius: 5px;
    position: relative;
    left: 13px;
}

.wood-button,
.unlock-wood-button {
    background-color: #4a7c59;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.wood-button:hover,
.unlock-wood-button:hover {
    background-color: #659dbd;
}

.unlock-wood-button {
    /*couleur un peu rouge*/
    background-color: #b03e24;
}

#oak-amount,
#birch-amount,
#pine-amount,
#Cherry-amount,
#Walnut-amount,
#Mahogany-amount,
#Teak-amount,
#Cedar-amount,
#Bamboo-amount,
#Divine-amount {
    font-size: 1.5em;
    color: #4a7c59;
    font-weight: bold;
    margin: 10px 0;
}

.horizontal-progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-top: 10px;
}

.horizontal-progress {
    height: 20px;
    background-color: #4a7c59;
    border-radius: 5px;
    width: 0%;
    transition: width 0.1s linear; /* Transition fluide pour la largeur */
}

.oak-timer-progress,
.birch-timer-progress,
.pine-timer-progress,
.cherry-timer-progress,
.walnut-timer-progress,
.mahogany-timer-progress,
.teak-timer-progress,
.cedar-timer-progress,
.bamboo-timer-progress,
.divine-timer-progress {
    margin-top: 10px;
}

#wood-xp-progress-bar {
    width: 90%;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /*mettre le texte au centre*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

#wood-xp-progress {
    height: 50px;
    background-color: #4a7c59;
    border-radius: 5px;
    width: 0%;
    transition: width 0.1s linear; /* Transition fluide pour la largeur */
}


/*minimap placer en haut a droite de l'ecran avec une bordure et a une petite taille*/
#wood-minimap {
    position: fixed; /* Fixe la minimap à la fenêtre */
    top: 10%;       /* Espace du haut */
    right: 10px;     /* Espace de droite */
    z-index: 1000;   /* S'assure qu'elle est au-dessus des autres éléments */
    border: 5px solid #4a7c59; /* Bordure */
    border-radius: 10px;        /* Coins arrondis */
    background-color: white;    /* Fond blanc */
    padding: 10px;              /* Espace intérieur */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Ombre */


}

#minimap-button {
    width: 150px;     /* Ajustez cette valeur pour contrôler la largeur de la minimap */
    height: 150px;    /* Garde le ratio de l'image */
    cursor: pointer; /* Change le curseur pour indiquer la cliquabilité */

}

/*placer e haut a droite de la box d'une petite taille*/
#upgrade-menu {

}

/*bouton pour ouvrir l'onglet de oak upgrade*/
#Oak-upgrade-button{

}