/* Styles de la section Bois */
#wood-section {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    gap: 20px;
    justify-items: start;
}

/*placer a droite */
#game-part-wood {
    display: grid;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;  
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    grid-template-columns: repeat(5, 1fr);
    justify-self: end; /* Added property */
}

@media screen and (max-width: 1000px){
    #game-part-wood {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 800px){
    #game-part-wood {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 675px) {
    #game-part-wood {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 400px) {
    #game-part-wood {
        grid-template-columns: repeat(1, 1fr);
    }
}

#woodcutting-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Wood-lvl {
    margin-top: 10px;
    text-align: center;
    font-size: 1.5em;
    color: #4a7c59;
    font-weight: bold;
}

.wood {
    background-color: #f8f0e3;
    border: 1px solid #c0a080;
    border-radius: 10px;
    padding: 10px;
    margin: 18px;
    width: 150px;
    text-align: center;
    align-items: right;
    position: relative;
}

.wood h2 {
    margin: 0;
}

.wood img {
    display: block;
    width: 80%;
    height: auto;
    margin-top: 10px;
    border: 2px solid #c0a080;
    border-radius: 5px;
    position: relative;
    left: 13px;
}

.wood-button,
.unlock-wood-button {
    background-color: #4a7c59;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.wood-button:hover,
.unlock-wood-button:hover {
    background-color: #659dbd;
}

.unlock-wood-button {
    background-color: #b03e24;
}

#oak-amount,
#birch-amount,
#pine-amount,
#maple-amount,
#cherry-amount,
#walnut-amount,
#mahogany-amount,
#teak-amount,
#cedar-amount,
#bamboo-amount,
#divine-amount {
    font-size: 1.5em;
    color: #4a7c59;
    font-weight: bold;
    margin: 10px 0;
}

.horizontal-progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-top: 10px;
}

.horizontal-progress {
    height: 20px;
    background-color: #4a7c59;
    border-radius: 5px;
    width: 0%;
    transition: width 0.1s linear;
}

.oak-timer-progress,
.birch-timer-progress,
.pine-timer-progress,
.cherry-timer-progress,
.walnut-timer-progress,
.mahogany-timer-progress,
.teak-timer-progress,
.cedar-timer-progress,
.bamboo-timer-progress,
.divine-timer-progress {
    margin-top: 10px;
}

#wood-xp-progress-bar {
    width: 90%;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    position: relative;
    top: 15px;
}

#wood-xp-progress {
    height: 50px;
    background-color: #4a7c59;
    border-radius: 5px;
    width: 0%;
    transition: width 0.1s linear;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

#wood-minimap {
    position: fixed;
    top: 13%;
    right: 10px;
    z-index: 1000;
    border: 5px solid #4a7c59;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#minimap-button {
    width: 150px;
    height: 150px;
    cursor: pointer;
}

#oak-upgrade-menu { 
    position: fixed; 
    display: grid; 
    place-items: center; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);  
    flex-direction: row; 
    align-items: center;
    padding: 20px; 
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
    display: grid;
    gap: 15px;
    justify-content: space-between;  
    margin-top: 20px;
    grid-template-columns: repeat(5, 1fr);
    justify-self: end; /* Added property */
}

#Oak-upgrade-button{
    background-image: url("../assets/images/backgrounds/Construction.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 5px;
    padding: 20px 20px;
    margin-top: 10px;
    cursor: pointer;
    color: white;
}

#Oak-upgrade-button:hover{
    background-color: #659dbd;
}

.Upgrade-close{
    background-color: #b03e24;
    border: none;
    border-radius: 5px;
    padding: 15px 15px;
    margin-top: 10px;
    cursor: pointer;
    color: white;
    position: fixed;
    top: 0;
    right: 10px;
}

.Upgrade-close:hover{
    background-color: #659dbd;
}

.Lamberjack-upgrade,
.Sawmill-upgrade,
.Factory-upgrade,
.Warehouse-upgrade,
.Market-upgrade {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);   
    margin-top: 20px;
    z-index: 1000;
}

.Lamberjack-upgrade-button{
    border: none;
    border-radius: 5px;
    padding: 20px 20px;
    margin-top: 10px;
    cursor: pointer;
    color: white;
    background-color: #4a7c59;
}

.Lamberjack-upgrade-button:hover{
    background-color: #659dbd;
}

.Sawmill-upgrade-button{
    border: none;
    border-radius: 5px;
    padding: 20px 20px;
    margin-top: 10px;
    cursor: pointer;
    color: white;
    background-color: #4a7c59;
}

.Sawmill-upgrade-button:hover{
    background-color: #659dbd;
}

.Factory-upgrade-button{
    border: none;
    border-radius: 5px;
    padding: 20px 20px;
    margin-top: 10px;
    cursor: pointer;
    color: white;
    background-color: #4a7c59;
}

.Factory-upgrade-button:hover{
    background-color: #659dbd;
}

.Warehouse-upgrade-button{
    border: none;
    border-radius: 5px;
    padding: 20px 20px;
    margin-top: 10px;
    cursor: pointer;
    color: white;
    background-color: #4a7c59;
}

.Warehouse-upgrade-button:hover{
    background-color: #659dbd;
}

.Market-upgrade-button{
    border: none;
    border-radius: 5px;
    padding: 20px 20px;
    margin-top: 10px;
    cursor: pointer;
    color: white;
    background-color: #4a7c59;
}

.Market-upgrade-button:hover{
    background-color: #659dbd;
}

.Lamberjack-upgrade{
    background-image: url("../assets/images/WoodUpgrade/Lumberjack.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Lamberjack-upgrade h2{
    color: white;
    background-color: #4a7c59;
    padding: 5%;
    border-radius: 15px;
}

.Lamberjack-upgrade p{
    color: white;
    background-color: #4a7c59;
    padding: 6%;
    border-radius: 15px;
}

.Sawmill-upgrade{
    background-image: url("../assets/images/WoodUpgrade/Sawmill.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Sawmill-upgrade h2{
    color: white;
    background-color: #4a7c59;
    padding: 5%;
    border-radius: 15px;
}

.Sawmill-upgrade p{
    color: white;
    background-color: #4a7c59;
    padding: 6%;
    border-radius: 15px;
}


.Factory-upgrade{
    background-image: url("../assets/images/WoodUpgrade/Factory.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Factory-upgrade h2{
    color: white;
    background-color: #4a7c59;
    padding: 5%;
    border-radius: 15px;
}

.Factory-upgrade p{
    color: white;
    background-color: #4a7c59;
    padding: 6%;
    border-radius: 15px;
}

.Warehouse-upgrade{
    background-image: url("../assets/images/WoodUpgrade/Warehouse.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Warehouse-upgrade h2{
    color: white;
    background-color: #4a7c59;
    padding: 5%;
    border-radius: 15px;
}

.Warehouse-upgrade p{
    color: white;
    background-color: #4a7c59;
    padding: 6%;
    border-radius: 15px;
    color : white;
}

.Market-upgrade{
    background-image: url("../assets/images/WoodUpgrade/Market.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Market-upgrade h2{
    color: white;
    background-color: #4a7c59;
    padding: 5%;
    border-radius: 15px;
    color : white;
}

.Market-upgrade p{
    color: black;
    background-color: #4a7c59;
    padding: 6%;
    border-radius: 15px;
    color : white;
}


#Birch-upgrade-button{
    background-image: url("../assets/images/backgrounds/Construction.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 5px;
    padding: 20px 20px;
    margin-top: 10px;
    cursor: pointer;
    color: white;
}

#birch-upgrade-menu { 
    position: fixed; 
    display: grid; 
    place-items: center; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);  
    flex-direction: row; 
    align-items: center;
    padding: 20px; 
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
    display: grid;
    gap: 15px;
    justify-content: space-between;  
    margin-top: 20px;
    grid-template-columns: repeat(5, 1fr);
    justify-self: end; /* Added property */
}

#Birch-upgrade-button:hover{
    background-color: #659dbd;
}

#Pine-upgrade-button{
    background-image: url("../assets/images/backgrounds/Construction.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 5px;
    padding: 20px 20px;
    margin-top: 10px;
    cursor: pointer;
    color: white;
}

#pine-upgrade-menu { 
    position: fixed; 
    display: grid; 
    place-items: center; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);  
    flex-direction: row; 
    align-items: center;
    padding: 20px; 
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
    display: grid;
    gap: 15px;
    justify-content: space-between;  
    margin-top: 20px;
    grid-template-columns: repeat(5, 1fr);
    justify-self: end; /* Added property */
}

#Pine-upgrade-button:hover{
    background-color: #659dbd;
}

#Cherry-upgrade-button{
    background-image: url("../assets/images/backgrounds/Construction.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 5px;
    padding: 20px 20px;
    margin-top: 10px;
    cursor: pointer;
    color: white;
}

#cherry-upgrade-menu { 
    position: fixed; 
    display: grid; 
    place-items: center; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);  
    flex-direction: row; 
    align-items: center;
    padding: 20px; 
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
    display: grid;
    gap: 15px;
    justify-content: space-between;  
    margin-top: 20px;
    grid-template-columns: repeat(5, 1fr);
    justify-self: end; /* Added property */
}

#Cherry-upgrade-button:hover{
    background-color: #659dbd;
}

#Walnut-upgrade-button{
    background-image: url("../assets/images/backgrounds/Construction.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 5px;
    padding: 20px 20px;
    margin-top: 10px;
    cursor: pointer;
    color: white;
}

#walnut-upgrade-menu { 
    position: fixed; 
    display: grid; 
    place-items: center; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);  
    flex-direction: row; 
    align-items: center;
    padding: 20px; 
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
    display: grid;
    gap: 15px;
    justify-content: space-between;  
    margin-top: 20px;
    grid-template-columns: repeat(5, 1fr);
    justify-self: end; /* Added property */
}

#Walnut-upgrade-button:hover{
    background-color: #659dbd;
}

#Mahogany-upgrade-button{
    background-image: url("../assets/images/backgrounds/Construction.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 5px;
    padding: 20px 20px;
    margin-top: 10px;
    cursor: pointer;
    color: white;
}

#mahogany-upgrade-menu { 
    position: fixed; 
    display: grid; 
    place-items: center; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);  
    flex-direction: row; 
    align-items: center;
    padding: 20px; 
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
    display: grid;
    gap: 15px;
    justify-content: space-between;  
    margin-top: 20px;
    grid-template-columns: repeat(5, 1fr);
    justify-self: end; /* Added property */
}

#Mahogany-upgrade-button:hover{
    background-color: #659dbd;
}

#Cedar-upgrade-button{
    background-image: url("../assets/images/backgrounds/Construction.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 5px;
    padding: 20px 20px;
    margin-top: 10px;
    cursor: pointer;
    color: white;
}

#cedar-upgrade-menu { 
    position: fixed; 
    display: grid; 
    place-items: center; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);  
    flex-direction: row; 
    align-items: center;
    padding: 20px; 
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
    display: grid;
    gap: 15px;
    justify-content: space-between;  
    margin-top: 20px;
    grid-template-columns: repeat(5, 1fr);
    justify-self: end; /* Added property */
}

#Cedar-upgrade-button:hover{
    background-color: #659dbd;
}

#Bamboo-upgrade-button{
    background-image: url("../assets/images/backgrounds/Construction.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 5px;
    padding: 20px 20px;
    margin-top: 10px;
    cursor: pointer;
    color: white;
}

#bamboo-upgrade-menu { 
    position: fixed; 
    display: grid; 
    place-items: center; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);  
    flex-direction: row; 
    align-items: center;
    padding: 20px; 
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
    display: grid;
    gap: 15px;
    justify-content: space-between;  
    margin-top: 20px;
    grid-template-columns: repeat(5, 1fr);
    justify-self: end; /* Added property */
}

#Bamboo-upgrade-button:hover{
    background-color: #659dbd;
}

#Divine-upgrade-button{
    background-image: url("../assets/images/backgrounds/Construction.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 5px;
    padding: 20px 20px;
    margin-top: 10px;
    cursor: pointer;
    color: white;
}

#divine-upgrade-menu { 
    position: fixed; 
    display: grid; 
    place-items: center; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);  
    flex-direction: row; 
    align-items: center;
    padding: 20px; 
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
    display: grid;
    gap: 15px;
    justify-content: space-between;  
    margin-top: 20px;
    grid-template-columns: repeat(5, 1fr);
    justify-self: end; /* Added property */
}

#Divine-upgrade-button:hover{
    background-color: #659dbd;
}

#Maple-upgrade-button{
    background-image: url("../assets/images/backgrounds/Construction.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 5px;
    padding: 20px 20px;
    margin-top: 10px;
    cursor: pointer;
    color: white;
}

#maple-upgrade-menu { 
    position: fixed; 
    display: grid; 
    place-items: center; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);  
    flex-direction: row; 
    align-items: center;
    padding: 20px; 
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
    display: grid;
    gap: 15px;
    justify-content: space-between;  
    margin-top: 20px;
    grid-template-columns: repeat(5, 1fr);
    justify-self: end; /* Added property */
}

#Maple-upgrade-button:hover{
    background-color: #659dbd;
}
